header{
    padding-block: 32px;
}
#perfil{
    display: flex;
    gap: 32px;
}
p{
    font-size: 14px;
    line-height: 170%;
    height: 120px;
    width: 384px;
}
h1{
    color: var(--text-primary);
    font-size: 32px;
    line-height: 125%;
}